body {
	font-family: Helvetica, sans-serif;
}

header {
	background-color: yellow;
}


/* Front page*/

.article_body {
	display: flex;
}

.article_left {
	width: 40% 
}
.catalog-img {
	max-height: 30vh;
	margin: 15px;
}
/* Items */

.items_body {
	display: flex;
}
.items_left {
	width: 40%;
	padding-right: 15px;
}

.items_right {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}

.items_description {
	width : 45% ;
	display: flex;
	margin: 10px;
}


.items_thumbmail {
	width: 80px;
	height: 80px;
	position: center;
}

/* Artworks */

.artworks_camerarroll {
	display: flex;
}

.artworks_image {
	flex-wrap: wrap;
	max-width : 30%;
	max-height: 30%;
	margin: 10px;
}

/* Input: EDIT or CREATE*/

.input_textarea {
	width: 400px;
	height: 250px;
} 

.input_url {
	width: 400px;
} 

.edit_new_i {
	display: none;
}

.edit_new_v {
	display: block;
}

.thumbnail-align {
	vertical-align: bottom;
}