{% extends "generic_header.html" %}

{% block content %}

	
	{% for art in arts %}
		<article>
			<div class="article_left">
				<h2><a href="{{url_for('showCollectionItems', art_id = art.id)}}">{{art.type}}</a></h2>
				<p>
					{{art.description}}
				</p>
			</div>

			<div class="article_right">
				<img class="article_img" src="{{url_for('static', filename = 'images/' + pictures[loop.index0].filename)}}" alt ="A picture by {{pictures[loop.index0].photographer}}">
			</div>
		</article>	
	{% endfor %}
{% endblock %}