{% extends "generic_header.html" %}

{% block content %}

	<h2>Create a new artist fact sheet</h2>

	<form method="POST">
		<label for="name">Name</label>
		<br>
		<input name="name" type="text">
		<br>
	

		<br>
		<label for="information">Information</label>
		<br>
		<textarea class="input_textarea" name="information"></textarea>

		<br>
		<label for="url">more Information (url):</label>
		<br>
		<input class="input_url" name="url" type="text">
		<br>

		<br>
		<input type="Submit">
	</form>



{% endblock %}