{% extends "generic_header.html" %}

{% block content %}

	<h2>Discipline</h2>
	{% for art in arts %}
		<article class="article_body">
			<div class="article_left">
				<h3><a href="{{url_for('showArts', art_id = art.id)}}">{{art.type}}</a></h3>
				<p>
					{{art.description}}
				</p>
			</div>

			<div class="article_right">
				<img class="article_img" src="{{url_for('static', filename = 'images/' + pictures[loop.index0].filename)}}" alt ="A picture by {{pictures[loop.index0].photographer}}">
			</div>
		</article>	
	{% endfor %}

	<hr>

	<h2>Artists</h2>

	<ul>
		{%for artist in artists %}
			<li>
				<a href="{{url_for('showArtists', artist_id = artist.id)}}">{{artist.name}}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}