<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="author" content="Guillaume Simler">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Guillaume's art collection</title>

	<!-- CSS files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	
</head>

<body>

	<header>
		<div class="header-left">
			<h1>Guillaume's art collection</h1>
			<h3>A catalog of nearly 30 years of collecting</h3>
		</div>

		<div class="header-left">
			<a href="#">Login</a>
			<br>
			<a href="/art">Back to main menu</a>
	</header>

	{% block content %}
	{% endblock %}
</body>

</html>